<template name="team_table_row">
  {{#with getUser this}}
  <tr>
    <td>{{profile.name.first}} {{profile.name.last}}</td>
    <td>
      <div class="dropdown">
        <button class="btn btn-link dropdown-toggle badge-{{getUserRoleBadge _id}} badge-wrapper" data-toggle="dropdown">
          <span class="badge badge-pill badge-{{getUserRoleBadge _id}}">{{getUserRoleBadge _id}}</span>
        </button>
        <div class="dropdown-menu page-shadow">
          <a href="#" class="dropdown-item">
            <div class="text-gray"><i class="fas fa-user-shield"></i> Make Admin</div>
          </a>
        </div>
      </div>
      
    </td>
    <td>{{emails.[0].address}}</td>
    <td>
      {{#if hasNotRegistered}}
      <button type="button" id="revokeInvite" class="btn btn-light btn-white btn-sm" data-id="{{_id}}">Revoke Invite</button>
      {{else}}
      <button type="button" class="btn btn-link text-gray--lighter" data-toggle="tooltip" data-placement="top" title="Edit User Permissions"><i class="fas fa-wrench"></i></button>
      <button type="button" class="btn btn-link text-gray--lighter" data-toggle="tooltip" data-placement="top" title="Delete Member"><i class="fas fa-user-times"></i></button>
      {{/if}}
    </td>
  </tr>
{{/with}}
</template>