.StripeElement--focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.StripeElement--invalid {
    border-color: #dc3545;
}
.StripeElement--complete {
    border-color: #28a745;
}
.StripeElement--focus.StripeElement--invalid {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}
.StripeElement--focus.StripeElement--complete {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.25);
}
//Stripes default placeholder with Bootstrap's default styles
#card-errors,
label.is-invalid {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.password-helper-wrapper {
    margin-top: 0.25rem;
    position: relative;
    min-height: 23px;
}
.password-indicator {
    border-radius: 2.5px;
    position: absolute;
    width: 80px;
    height: 5px;
    right: 0;
    top: calc(50% - -12.5px);
    bottom: calc(50% - 2.5px);
    z-index: 1000;
    background: hsla(210, 29%, 94%, 1);

    & .strength {
        border-radius: 2.5px;
        position: absolute;
        display: inline-block;
        height: 100%;
    }

    & .strength-0 {
        width: 10%;
        background: #dc3545;
    }
    & .strength-1 {
        width: 25%;
        background: #dc3545;
    }
    & .strength-2 {
        width: 50%;
        background: #ffc107;
    }
    & .strength-3 {
        width: 75%;
        background: #ffc107;
    }
    & .strength-4 {
        width: 100%;
        background: #28a745;
    }
}