.header-gray {
    color: hsla(211, 14%, 36%, 1);
}
.form-label-gray {
    color: hsla(211, 12%, 47%, 1);
}
.text-gray {
    color: hsla(211, 12%, 47%, 1);

    &:hover {
        color: hsla(211, 12%, 47%, 1);
    }
}
.text-gray--lighter {
    color: hsla(211, 12%, 72%, 1);

    &:hover {
        color: hsla(211, 12%, 47%, 1);
    }
}

.notification-header {
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: center;
}